/* transition: width .5s cubic-bezier(0.01, 0.74, 0.4, 1), height .5s .5s cubic-bezier(0.01, 0.74, 0.4, 1), background .3s linear; */
.portfolio {
padding: 5vh;
box-sizing: border-box;
margin: auto;
background-color: #d3d3d326;
width: 92%;
padding-top: 14vh !important;
overflow: hidden;
}

.e-book {
width: 95%;
margin: auto;
background-color: black;
height: 80vh;
margin-bottom: 5vh;
background-image: url('./../../assets/e-book.png');
background-size: cover;
box-shadow: 2px 0px 20px #cecccc;  
}

.e-book-desc {
width: 95%;
margin: auto;
display: flex;
justify-content: space-between;
margin-bottom: 5vh; 
}

.small-square h3 {
color: white;
margin: 0;
}

video {
width: 100%;
height: 100%;
}

.small-square {
flex: 40%;
padding: 3vh 2vw;
text-align: center;
box-shadow: 2px 0px 20px #cecccc;
}

.portfolio h3 {
font-size: 3vw;
color: #9E9E9E; 
font-weight: 300;
margin-bottom: 3vh;
}

.portfolio h4 {
  font-size: 2vw;
  margin-top: 3vh;
  color: #9E9E9E; 
font-weight: 300;
letter-spacing: .2px;
   
  }

.portfolio li {
font-size: 1.5vw;
list-style-type: none;
color: #9E9E9E;
letter-spacing: .4px;

}

.portfolio p {
font-size: 18px;
color: #9E9E9E; 
line-height: 2;
word-spacing: 0;
margin:0;
}

.big-square {
flex: 60%;
margin-left: 4vh;
box-shadow: 2px 0px 20px #cecccc;
height: max-content; 
}

.arrow {
color: white;
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: center;
justify-content: center;
position: fixed;
top: 45%;
width: 3.7em;
height: 9em;
-ms-transform-origin: 50% 50%;
transform-origin: 50% 50%;
z-index: 200;
border: 1px solid #000;
background: #ffa503;
border-color: #ffa503;
text-transform: uppercase;
font-size: .6875rem;
font-weight: 700;
letter-spacing: .1em;
cursor: pointer;
transition: all .4s cubic-bezier(.165,.84,.44,1);
transition: background .4s cubic-bezier(.165,.84,.44,1),color .4s cubic-bezier(.165,.84,.44,1),transform .4s cubic-bezier(.165,.84,.44,1);
}

.lastProject {
left: 0;
transform: translate3d(-20%,0,0);
border-radius: 0 4em 4em 0;
}

.nextProject {
right: .5px;
transform: translate3d(20%,0,0);
border-radius: 4em 0 0 4em;
}

.swapi {
width: 95%;
margin: auto;
justify-content: space-between;
display: flex;
margin-bottom: 5vh;
}

.swapi-desc {
flex: 70%;
}

.swapi-vid {
margin: auto;
margin-bottom: 4vh;
background-size: cover; 
background-repeat: no-repeat; 
box-shadow: 2px 0px 20px #cecccc;    
}

.swapi-info {
display: flex;
width: 100%;
justify-content: space-around;
}

.swapi-text {
flex: 46%;
padding: 4vh;
box-shadow: 2px 0px 20px #cecccc;    
}

.swapi-text h3 {
  margin:0;
}

.swapi-t {
background-size: cover;
background-repeat: no-repeat;
flex: 50%;
margin-left: 4vh;
box-shadow: 2px 0px 20px #cecccc;
padding: 5vh;
box-sizing: border-box;
}

.swapi-t p{
  line-height: 2;
}

.swapi-phone {
background-size: contain;
background-repeat: no-repeat;
flex: 30;
margin-left: 4vh;
background-image: url('./../../assets/swapi-mob.png')
}

.static-comp {
display: flex;
justify-content: space-between;
width: 95%;
margin: auto;
height: auto;
margin-bottom: 4vh;
}

.dance-app {
background-image: url('./../../assets/Screen Shot 2018-05-03 at 7.30.54 AM copy.png');
flex: 50;
margin-right: 4vh;
background-size: cover; 
background-repeat: no-repeat;
box-shadow: 2px 0px 20px #cecccc;
background-color: #000;      
}

.text {
  box-sizing: border-box;
  padding: 4vh;
flex: 20;
background-color: white;
box-shadow: 2px 0px 20px #cecccc;
height: 30vw;   
}

.dashboard {
flex: 50;
background-size: cover; 
background-repeat: no-repeat;  
margin-left: 4vh;
box-shadow: 2px 0px 20px #cecccc; 
width: 78%;

}

.dashb {
flex: 20;  
  background-image: url('./../../assets/dash-mob.png');
  background-size: contain;
  background-repeat: no-repeat;
}
